<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Automation Regression" parallel = "false">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Sign Up Process">
        <classes>
            <class name="SignUP.SingUpTest"></class>
        </classes>
    </test>
</suite>